.about-container{
  margin: 20px auto;
  padding: 15px;
  display: flex;
  position: relative;
  max-width: 1186px;
  background-color: white;
  border-radius: 15px;
}

.about-tabs{
  width: 287px;
}

.about-contents{
  font-size: 24px;
  height: 100%;
  width: 100%;
}

.about-item-container{
  height: 48px;
}

.about-item{
  padding: auto;
  height: 48px;
  align-items: stretch;
}

.active-about-button{
  width: 80px;
  margin: 10px 6px;
  background-color: lightskyblue;
}

.about-edit-button{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 50%;
  color: #808080;
  float: right;
  height: 36px;
  padding: 5px;
}

#about-title{
  font-size: 20px;
  font-weight: 700;
}