.about-container{
  margin: 20px auto;
  padding: 15px;
  display: flex;
  position: relative;
  max-width: 1186px;
  background-color: white;
  border-radius: 15px;
}

.about-tabs{
  width: 287px;
}

.about-contents{
  width: 100%;
}

.about-item-container{
  height: 48px;
}

.about-item{
  padding: auto;
  align-items: stretch;
}

.active-about-button{
  width: 80px;
  margin: 10px 6px;
  background-color: lightskyblue;
}

#about-title{
  font-size: 20px;
  font-weight: 700;
}