.about-container{
  margin: 20px auto;
  padding: 15px 6px;
  display: flex;
  position: relative;
  max-width: 1186px;
  background-color: white;
  border-radius: 15px;
}

.about-tabs{
  width: 287px;
  border-right: 1px solid #cdcdcd;
  padding-right: 7px;
}

.about-contents{
  font-size: 24px;
  height: 100%;
  width: 100%;
}

.about-item-container{
  height: 48px;
}

.about-item{
  padding: auto;
  height: 48px;
  align-items: stretch;
}

.about-button{
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 12px;
  text-align: left;
  width: 100%;
}

.active-about-button{
  // margin: 10px 6px;
  color: #1876F2;
  background-color: #E7F3FF;
}

.about-edit-button{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 50%;
  color: #808080;
  float: right;
  height: 36px;
  padding: 5px;
}

#about-title{
  font-size: 20px;
  font-weight: 700;
  padding-left: 12px;
}