// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-field{
  padding: 10px 0;
  display: flex;
}

.comment-field img{
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 6px;
}

.comment-field form, .comment-field input{
  width: 100%;
}

.comment-field input{
  padding: 16px 12px;
  border-radius: 16px;
  height: 20px;
  background-color: #F0F2F5;
  border: none;
}

.comment-field form > div{
  color: #65676b;
  font-size: 12px;
}