// Place all the styles related to the api/v1/friend_requests_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-request-box{
  font-size: 15px;
  height: auto;
  padding: 10px;
  width: 100%;
}

//name
.friend-request-box span{
  font-weight: 600;
}

//profile picture
.friend-request-box img{
  border-radius: 50%;
  float: left;
  height: 60px;
  width: 60px;
  margin-right: 8px;
}

//buttons
.friend-request-box button:first-of-type{
  background-color: #1876f2;
}

.friend-request-box button{
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  margin: 3px;
  text-align: center;
  width: 104px;
  transition: 300ms;
}

.friend-request-box button:hover{
  
}