// Place all the styles related to the api/friends_controller.rb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-tab{
  background-color: #FFF;
  margin: 20px auto;
  padding: 15px;
  max-width: 1186px;
  border-radius: 15px;
  position: relative;
}

.friend-index{
  display: flex;
}

.friend-index h2{
  display: block;
}

.friend-item-container{
  align-items: center;
  background-color: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 6px;
  display: flex;
  height: 115px;
  margin: 2px;
  min-width: 250px;
  padding: 16px;
  position: relative;
  justify-content: space-between;
  width: 50%;
}

.friend-item{
  display: flex;
  align-items: center;
}

.friend-item-profile-pic{
  align-items: center;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  display: flex;
  height: 80px;
  margin: 0 15px 0 0;
  overflow: hidden;
  position: relative;
  width: 80px;
  z-index: 2;
}

.friend-item-profile-pic img{
  width: 100%;
  position: absolute;
}

.friend-item-option {
  background-color: #FFF;
  border: none;
  border-radius: 50%;
  color: #808080;
  cursor: pointer;
  float: right;
  font-size: 18px;
  font-weight: 945;
  line-height: 42px;
  height: 36px;
  transition: 0.3s;
  width: 36px;
}

.friend-item-option:hover {
  background-color: rgb(228, 228, 228);
}

.friend-item-option:active{
  background-color: #c4c4c4;
}

.friend-edit-container {
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  width: 330px;
  z-index: 3;
}



.friend-edit-container button {
  background-color: #FFF;
  border: none;
  display: flex;
  border-radius: 6px;
  align-content: center;
  text-align: left;
  align-items: center;
}

.friend-edit-container svg{
  margin: 8px;
  font-size: 20px;
}

.friend-edit-container button:hover{
  background-color: #d2d5dd;
  transition: 300ms;
}

.friend-edit-container button:active{
  background-color: #c4c4c4;
}