.modal-button{
  padding: 10px;
  width: 100%;
  background-color: #1876F2;
  color: #FFF;
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.modal-child {
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 5;
}

//post modal

.post-modal{
  padding: 10px;
  height: 428px;
  width: 500px;
}

.post-modal textarea{
  border: none;
  height: 300px;
  font-size: 26px;
  resize: none;
  width: 100%;
}

.post-modal textarea:focus{
  outline: none;
}

.post-modal h2{
  text-align: center;
}

.profile-modal{
  z-index: 3;
}

#image-icon{
  align-items: center;
  border-radius: 50%;
  color: #24ae2b;  
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 8px 8px;
  width: 50px;
}

#image-icon svg{
  width: 100px;
  height: 100px;
}

#image-icon:hover{
  cursor: pointer;
  background-color: #d2d5dd; 
  transition: 200ms;
}

#modal-closebtn{
  font-size: 24px;
  float: right;
}

#disabled-button{
  background-color: #eaeaea;
  color: #c4c4c4;
  cursor: not-allowed;
}