// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsfeed-container {
  margin: 0 auto;
  min-width: 500px;
  max-width: 680px; 
  width: 90%;
  width: calc((100vh + -325px) * 1);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.create-post-container {
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0 1px 2px #c4c4c4;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 16px;
}

//Whats on your mind? bar
.create-post-container div{
  align-content: center;
  border-radius: 24px;
  background-color: #F0F2F5;
  color: #65676b;
  cursor: pointer;
  font-size: 17px;
  height: 40px;
  padding: 7px 16px;
  width: 100%;
  transition: 300ms;
}

.create-post-container div:hover{
  background-color: #dadada;
  transition: 100ms;
}

//Profile picture
.create-post-container img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 6px;
}