.button-section {
  border-top: 1px solid #d2d5dd;
  border-bottom: 1px solid #d2d5dd;
  display: flex;
}

.like-button, .comment-button{
  background-color: transparent;
  border: none;
  color: #65676b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  width: 100%;
}

.active-like {
  color: #1876f2;
}

.light-text-description{
  color: #65676b;
}

.likes-and-comment-container{
  padding: 0 12px 0 12px;
}

.edit-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  position: absolute;
  width: 330px;
  z-index: 1;
}

.user-and-post-container {
  padding: 12px 16px 16px 16px;
  font-weight: 400;
} 

.post-index {
  align-content: space-around;
  display: flex;
  flex-direction: column;
}

.post-item-box {
  font-size: 15px;
  margin: 5px 0 5px 0;
  border-radius: 6px;
  box-shadow: 0 1px 2px var(--shadow-2);
  background-color: #FFF;
}

.posts-username {
  padding: 10px;
  font-weight: 600;
  padding-bottom: 8px;
}

.posts-option {
  background-color: #FFF;
  border: none;
  border-radius: 100%;
  color: grey;
  cursor: pointer;
  float: right;
  font-family: ui-rounded;
  font-size: 18px;
  font-weight: 945;
  height: 36px;
  text-align: center;
  transition: 0.3s;
  width: 36px;
}

.posts-option:hover {
  background-color: rgb(228, 228, 228);
}

.user-info {
  display: flex;
  padding: 0 0 6px 0;
}

.user-info img, .comment-field img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 6px;
}

.user-name{
  color: #000;
  font-weight: 500;
  margin: 0 4px 6px 0;
}