.post-index {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.post-item-box {
  font-size: 15px;
  margin: 5px 0 5px 0;
  border-radius: 6px;
  box-shadow: 0 1px 2px var(--shadow-2);
  background-color: white;
}

.posts-username {
  padding: 10px;
  font-weight: 600;
  padding-bottom: 8px;
}

.posts-body {
  padding: 10px;
  font-weight: 400;
}