
//intro

.intro-container{
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0 1px 2px #c4c4c4;
  margin: 10px auto;
  max-width: 680px;
  padding: 6px;
}

.intro-container h2{
  padding: 6px;
}

.intro-container button{
  background-color: #E4E6EB;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: 7px 0;
  padding: 6px;
  width: 100%;
}

.intro-container button:hover{
  background-color: #d2d5dd;
  transition: 200ms;
}

.intro-form{
}

.intro-form textarea{
  background-color: #f0f2f5;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  height: 70px;
  text-align: center;
  width: 100%;
  resize: none;
}

.intro-form textarea:focus{
  background-color: #fff;
}

.intro-form textarea:hover{
  background-color: #f0f2f5;
}

.intro-form textarea:active{
  background-color: #c4c4c4;
}

.intro-form button{
  margin: 5px 0;
}

//banner

.profile-banner-container{
  margin-top: -25px;
  position: relative;
}

.profile-banner{
  display: flex;
  max-height: 463px;
  min-width: 500px;
  max-width: 1250px;
  margin: auto;
  position: relative;
}

.img-container{
  border-radius: 5px;
  overflow: hidden;
}

.img-container > img{
  margin: auto;
  width: 100%;
  z-index: 1;
}

.banner-background img{
  width: 100%;
  height: inherit;
}

.banner-background{
  left: 0;
  right: 0;
  top: 0;
  height: inherit;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.banner-edit-button {
  background-color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  height: 36px;
  position: absolute;
  align-content: center;
  bottom: 30px;
  right: 100px;
  width: 162px;
  z-index: 1;
}

.banner-edit{
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  position: absolute;
  top: 95%;
  right: 30px;
  width: 300px;
  z-index: 5;
}

.banner-edit svg{
  margin: 8px;
  font-size: 20px;
}

.banner-edit button {
  align-content: center;
  align-items: center;
  background-color: #FFF;
  border: none;
  border-radius: 6px;
  display: flex;
  width: 100%;
  text-align: left;
}

.banner-edit button:hover{
  background-color: #d2d5dd;
  transition: 300ms;
}

.banner-edit button:active{
  background-color: #c4c4c4;
}

//contents

.profile-posts-container{
  max-width: 1186px;
  margin: auto;
}

.profile-left{
  float: left;
  max-width: 490px;
  width: 100%;
}

.profile-right{
  float: right;
  width: 100%;
  max-width: 680px;
}

.profile-main{
  background-color: #FFF;
  z-index: -3;
}

.profile-name{
  font-size: 32px;
  font-weight: 600;
}

.profile-top{
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1186px;
}

.empty-profile-banner{
  background-color: #f0f2f5;
  height: 500px;
  width: 2000px;
  position: relative;
  z-index: 0;
}

.propic-edit-container{
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
  left: -80px;
  bottom: -130px;
  padding: 6px;
  position: absolute;
  width: 328px;
  z-index: 3;
}

.propic-edit-container div{
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
}

.propic-edit-container div:hover{
  background-color: #dfdfdf;
  transition: 300ms;
}

.profile-tabs{
  border-top: 1px #c4c4c4 solid;
  color: #525252;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  max-width: 1186px;
  position: sticky;
  top: 56px;
}

.profile-tabs div{
  width: 85px;
  font-size: 15px;
  padding: 15px 8px;
  margin: 0 2px;
  text-align: center;
  cursor: pointer;
}

.profile-tab{
  border-radius: 3px;
}

.profile-tab:hover{
  background-color: #dfdfdf;
  transition: 200ms;
}

.active-profile-tab{
  color: #1876F2;
  border-bottom: 3px solid #1876F2;
}

.profile-picture-container{
  display: block;
  margin-top: -90px;
  position: relative;
}

.profile-picture-container > button{
  border: 0;
  border-radius: 100%;
  color: #000;
  font-size: 24px;
  margin: 125px 0 0 125px;
  padding: 2px 5px 0 5px;
  position: absolute;
  z-index: 3;
}

.user-posts{
  max-width: 680px;
  width: 100%;
  margin: auto;
}

#profile-picture{
  align-items: center;
  border: 2px solid #808080;
  border-radius: 50%;
  display: flex;
  height: 168px;
  justify-content: center;
  // margin: ;
  overflow: hidden;
  position: relative;
  width: 168px;
  z-index: 2;
}

#profile-picture > img{
  width: 100%;
  transform: scale(1.25);
  position: absolute;
}

.friend-request-button button{
    background-color: #E4E6EB;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 7px 0;
    padding: 6px;
    width: 100%;
}