.profile-banner-container{
  margin-top: -25px;
}

.profile-banner{
  display: flex;
  max-width: 1250px;
  max-height: 463px;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
}

.profile-banner > img{
  margin: auto;
  width: 100%;
  z-index: 1;
}

.profile-main{
  background-color: white;
  z-index: -3;
}

.banner-background{
  left: 0;
  right: 0;
  top: 0;
  height: inherit;
  position: absolute;
  // z-index: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.banner-background img{
  width: 100%;
  height: inherit;
}

.banner-edit{
  z-index: 2;
}

.empty-profile-banner{
  background-color: inherit;
  height: 100%;
  max-width: 1250px;
  max-height: 463px;
  width: 100%;
}

.propic-edit-container{
  background-color: #FFFFFF;
  position: absolute;
  z-index: 2;
}

.profile-tabs{
  display: flex;
  flex-direction: row;
}

.profile-tabs div{
  width: 60px;
  font-size: 15px;
  padding: 15px 8px;
  margin: 0 2px;
  text-align: center;
  cursor: pointer;
}

.profile-tab{
  border-radius: 3px;
}

.profile-tab:hover{
  background-color: #808080;
  transition: 200ms;
}

.active-profile-tab{
  color: #1876F2;
  border-bottom: 3px solid #1876F2;
}

.profile-picture-container{
  display: block;
}

.user-posts{
  max-width: 680px;
}

#profile-picture{
  align-items: center;
  border: 2px solid #808080;
  border-radius: 100%;
  display: flex;
  height: 168px;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 168px;
}

#profile-picture > img{
  width: 100%;
  transform: scale(1.5);
  top: 0;
  position: absolute;
}

.profile-picture-container > button{
  border: 0;
  border-radius: 100%;
  color: #000;
  font-size: 24px;
  position: absolute;
  z-index: 2;
}