.signup-modal {
  width: 432px;
}

.form-top {
  padding: 10px 16px;
  border-bottom: 0.2px solid #dddfe2;
}

.form-top h1 {
  font-size: 32px;
  margin: 0;
}

.form-top div {
  font-size: 15px;
  color: #606770;
  line-height: 24px;
}

.form-bottom {
  margin: 10px;
}

.form-bottom input {
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  background-color: #f0f2f5;
}

.form-bottom select {
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  width: 125px;
}

.form-bottom > div {
  padding: 5px;
}

.input-error input, .input-error select{
  border-color: #af2d2d!important;
}

.input-error input:focus, .input-error select:focus{
  border-color: #dddfe2!important;
}

.select-label, #pronoun-section {
  padding-bottom: 0px !important;
  color: #606770;
}

.error-icon {
  position: absolute;
  color:#af2d2d;
  font-size: 18px;
  top: 10px;
  right: 10px;
}

.error-bubble {
  background-color: #be4b49;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 12px;
  padding: 13px;
  position: absolute;
  z-index: 2;
}

#name-box .error-bubble{
  top: 0px;
  left: -140px;
}

#email-box .error-bubble, #password-box .error-bubble, #gender-box .error-bubble{
  bottom: 50px;
  left: 0px;
}

#name-box>div, #email-box>div, #password-box>div, #birthdate-box, #gender-box{
  position: relative;
}

#birthdate-box, #gender-box, #name-box {
  display: flex;
  justify-content: space-between;
}

#close-btn {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  font-size: 24px;
  cursor: pointer;
  right: 30px;
}

#email-box input, #password-box input {
  width: 100%;
}

#gender-box {
  font-size: 15px;
}

#gender-box div {
  width: 128px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  line-height: 24px;
}

#gender-box input {
  margin-top: 6px;
  float: right;
}

#name-box {
  padding-top: 7px;
}

#name-box input {
  width: 196px;
}

#submit-btn {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  margin: 10px;
  margin-left: 107px;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  background-color: #42b72a;
  color: white;
  transition: 0.2s;
}

#submit-btn:hover {
  background-color: #3f992d;
  transition: 0.2s;
}

#pronoun-section, #pronoun-section select{
  display: grid;
  margin: 5px 1px;
  width: 100%;
}