.photo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  max-width: 80vw;
  max-height: 100vh;
}

.info-container{
  background-color: #FFF;
  min-width: 350px;
  padding: 18px;
}

.view-modal{
  display: flex;
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

// profile img
.post-main img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 6px;
  cursor: pointer;
}