.view-modal{
  display: flex;
  position: fixed;
  right: 0;
  width: 100vw;
  height: 95vh;
  z-index: 2;
}

.photo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 76vw;
  max-height: 100vh;
  width: 100%;
  align-content: space-between;
}

#photo-background {
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

//post caption/comments
.info-container{
  background-color: #FFF;
  min-width: 350px;
  padding: 18px;
}

// profile img
.post-main img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 6px;
  cursor: pointer;
}